**Requirement for Completing this task**

Task-1:
1. Setup Python environent
2. Create a GitHub repository that will be used to host all the code
3. Create a new branch called task-1 for day 1 analysis
4. Perform Exploratory Data Analysis(EDA) analysis on the following:
      Descriptive Statistics
      Text Analysis(Sentiment analysis and Topic Modeling)
      Time Series Analysis
      Publisher Analysis
Task-2:
1. Merge the necessary branches from task-1 into the main branch
2. Create at least one new branch called task-2 for the ongoing development
3. Load and prepare the data
4. Determine date ranges and fetch stock data